*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: white;
	font-family: font-family: 'Segoe UI', sans-serif;
    height: 100vh;
}
/* for dashboard*/
header {
    margin: 7% 8% 1px 7%;
    background-image: linear-gradient(to right, #2096F1, #1DE9CA);
    width: 85%;
    height: 459px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
/* progress*/
#container1{
	width: 50%;
	box-sizing: border-box;
	align-content: center;
	padding-left: 10%;

}
.progress {
    width: 235px;
    height: 235px;
}
.outer {
    width: 230px;
    height: 230px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 14%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(8, 95, 163,0.5);
}
.inner {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
/*image*/
#container2{
	box-sizing: border-box;
	align-content: center;
	text-align: center;

    
}
#container2 > img {
    height: 248px;
    width: 239px;
    border-radius: 50%;
     box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(32, 150, 241,0.5);
}
/* main content start from here*/
#main-content
 {
    color: black;
    margin: 5% 7% 1% 7%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    border: none;
    gap: 10px;
}
#main-content > .classdiv {
    width: 300px;
    height: 200px;
    border: 1px solid #666;
    border-radius: 10px;
}
/*hover effect at every card*/
#main-content > .classdiv:hover{
    width: 300px;
    height: 200px;
    border: 2px solid #666;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 2px rgba(117, 117, 117, 0.15);
}
/* active effect at every card*/
#main-content > .classdiv:active{
    width: 300px;
    height: 200px;
    border: 1px solid #666;
    border-radius: 10px;
    
}
.inner-card{
    display: block;
  justify-items: center;
  text-align: center;
    font-size: 50px;
    font-style: italic;
    color: #495057;
}

.icon::before{}