*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: white;
	font-family:'Segoe UI', sans-serif;
    height: 100vh;
}
/* Navbar*/
nav {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: 10px 0 5px black;
}
 .container-fluid{
    margin-top: 10px;
    height: auto;
    display: flex;
    justify-content:flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;
    
 }
 /*div1 nav start here */
 .div1-nav {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}
/* home in nav*/
.home-nav{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    color: #0d6efd;
    border: 1px solid #0d6efd;

 }
 .home-nav:hover{
    background-color: #0d6efd;
    color: white;
 }
 /* nav text */
 .div2-nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d6efd;
    font-size: 22px;
    font-family:'Segoe UI', sans-serif;
     margin-left: auto;
        margin-right: auto;
        flex-shrink: 0;
 }
 /* div 3 profile + layout */
 .div3-nav{
  display: flex;
  justify-content: flex-start;
  width: auto;
 }
 /* notification style*/
 .notification {
    margin: 1%;
    width: 70px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-icon-notification{
    width: 48px;
    height: 51px;
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-size: 26px;
    color: #000000de;
}
.style-icon-notification:hover{
    background: #c6c7c8;
    border-color: #c6c7c8;
}
 /*logo style*/
 .logo{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: black;
 }
 .imgicon > img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
 }
 /* logout style*/
 .logout{
    margin: 1%;
    width: 70px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .style-icon-logout{
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 0.875rem;
    color: red;
 }
 .style-icon-logout:hover{
    background-color: red;
    color: white;

 }
/* for dashboard*/
header {
    margin: 170px 8% 1px 7%;
    background-image: linear-gradient(to right, #2096F1, #1DE9CA);
    width: 85%;
    height: 459px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
/* progress*/
#container1{
	width: 50%;
	box-sizing: border-box;
	align-content: center;
	padding-left: 10%;

}
.progress {
    width: 235px;
    height: 235px;
}
.outer {
    width: 230px;
    height: 230px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 14%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(8, 95, 163,0.5);
}
.inner {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
/*image*/
#container2{
	box-sizing: border-box;
	align-content: center;
	text-align: center;

    
}
#container2 > img {
    height: 248px;
    width: 239px;
    border-radius: 50%;
     box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(32, 150, 241,0.5);
}
/* main content start from here*/
#main-content
 {
    color: black;
    margin: 5% 7% 1% 7%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    border: none;
    gap: 10px;
}
#main-content > .classdiv {
    width: 300px;
    height: 200px;
    border: 1px solid #666;
    border-radius: 10px;
}
/*hover effect at every card*/
#main-content > .classdiv:hover{
    width: 300px;
    height: 200px;
    border: 2px solid #666;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 2px rgba(117, 117, 117, 0.15);
}
/* active effect at every card*/
#main-content > .classdiv:active{
    width: 300px;
    height: 200px;
    border: 1px solid #666;
    border-radius: 10px;
    
}
.inner-card{
    display: block;
  justify-items: center;
  text-align: center;
    font-size: 50px;
    font-style: italic;
    color: #495057;
}

.icon::before{}

@media (max-width: 670px) {
    header {
       
        display: block;
        height: 548px;
    }
     #container1 {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #main-content > .classdiv {
        height: 200px;
        width: 385px;
    }
    /* hover effect on card*/
    #main-content > .classdiv:hover{
        height: 200px;
        width: 385px;
    }
}
@media (max-width: 820px) {
    .container-fluid >.div2-nav{
        margin-left: auto;
        margin-right: 29px;
        flex-shrink: 0;
    }
    .div1-nav{
        width: auto;
    }
}
